.loader,
.loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  overflow: hidden;
}
.loader {
  display: flex;
  flex-shrink: 0;
  margin: 20px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: .5em solid rgba(0, 0, 0, 0.1);
  border-left: .5em solid black;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 .7s infinite linear;
  animation: load8 .7s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
